/* Importación de fuentes */
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700&display=swap");

/* Variables */
:root {
  --color-fondo: #ffffff;
  --color-oscuro: #161a30;
  --color-medio: #394867;
  --color-suave: #b6bbc4;
  --color-ligero: #f0ece5;
  --color-alerta: #d01414;
  --color-primario: #161a30;
  --color-secundario: #31304d;
  --fuente-principal: "Chakra Petch", sans-serif;
}

/* Reset básico para eliminar estilos por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipografía y estilos básicos */
body {
  font-family: var(--fuente-principal);
  background: linear-gradient(
    135deg,
    var(--color-primario),
    var(--color-secundario)
  );
  color: var(--color-fondo);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

header {
  width: 100%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.header h1 {
  font-size: 1.5rem;
  color: var(--color-fondo);
}

.logo {
  width: 6rem;
  max-width: 100%;
  border-radius: 0.5rem;
  transition: transform 0.4s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.container {
  background: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 1.25rem;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  width: 100%;
  max-width: 700px;
  text-align: center;
  animation: fadeIn 1.5s ease-in-out;
}

.title {
  font-weight: 700;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: var(--color-fondo);
}

.img-aviso {
  width: 2rem;
  max-width: 100%;
  border-radius: 0.5rem;
  transition: transform 0.4s ease;
}

.input-field,
.output-field {
  width: 100%;
  padding: 1rem;
  border-radius: 0.625rem;
  border: none;
  margin-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--color-fondo);
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.input-field::placeholder {
  color: var(--color-suave);
  opacity: 0.5;
}

.input-field:focus,
.output-field:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(1.02);
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.btn {
  background-color: var(--color-oscuro);
  border: none;
  color: var(--color-fondo);
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  background-color: var(--color-medio);
  transform: translateY(-0.3rem);
}

.tarjeta {
  margin-top: 2rem;
}

.img-computador {
  width: 60%;
  max-width: 100%;
  margin-bottom: 1.5rem;
  transition: transform 0.3s ease;
}

.img-computador:hover {
  transform: scale(1.05);
}

.social-links {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.social-links a {
  margin: 0 1rem;
}

.social-links img {
  width: 2rem;
  max-width: 100%;
  transition: transform 0.3s ease;
}

.social-links img:hover {
  transform: scale(1.3);
}

/* Responsividad */
@media (max-width: 768px) {
  .container {
    padding: 1.5rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .button-container {
    flex-direction: column;
  }

  .btn {
    width: 100%;
  }

  .logo {
    width: 5rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.2rem;
  }

  .logo {
    width: 4rem;
  }

  .input-field,
  .output-field {
    font-size: 0.9rem;
    padding: 0.75rem;
  }

  .btn {
    font-size: 0.9rem;
    padding: 0.75rem;
  }
}

@media (max-width: 320px) {
  .title {
    font-size: 1rem;
  }

  .logo {
    width: 3.5rem;
  }

  .btn {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estilos del footer */
footer {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  width: 100%;
  max-width: 30rem;
  text-align: center;
  border-radius: 0.625rem;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  margin-top: 2rem;
}

.footer-links a {
  color: var(--color-fondo);
  text-decoration: none;
  margin: 0 0.5rem;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-links img {
  width: 1.5rem;
  transition: transform 0.4s ease;
}

.footer-links img:hover {
  transform: scale(1.2);
}
