/*------------
Fuentes
-------------*/
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* Variables */
:root {
  --Fondo: #ffffff;
  --Oscuro: #14274e;
  --Medio: #394867;
  --Suave: #9ba4b4;
  --Ligero: #f1f6f9;
  --Alerta: #d01414;
  --Fuente: "Chakra Petch", sans-serif;
}

/* Estilos globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--Fuente);
  text-decoration: none;
  background: var(--Ligero);
}

::selection {
  background: var(--Oscuro);
  color: var(--Fondo);
}

img {
  max-width: 100%;
}

/* Header */
header {
  padding: 20px;
  display: flex;
  align-items: center;
}

header .logo {
  width: 48px;
  height: 48px;
}

/* Main */
main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 40px;
  gap: 40px;
}

.encriptador {
  width: 45%;
  background: transparent;
}

.encriptar {
  width: 100%;
  height: 350px;
  font-size: 24px;
  line-height: 36px;
  outline: none;
  border: 1px solid var(--Suave);
  border-radius: 15px;
  resize: none;
  background-color: var(--Fondo);
}

.encriptador-aviso {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.img-aviso {
  width: 24px;
  height: 24px;
}

.texto-aviso {
  font-size: 18px;
  color: var(--Medio);
}

.encriptador-contenedor {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.btn-encriptar,
.btn-desencriptar {
  width: 180px;
  height: 60px;
  font-size: 18px;
  text-align: center;
  color: var(--Ligero);
  background: var(--Medio);
  border: 1px solid var(--Ligero);
  border-radius: 24px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.btn-encriptar:hover,
.btn-desencriptar:hover,
.btn-copiar:hover {
  transform: scale(0.98);
  background-color: var(--Oscuro);
}

.tarjeta {
  width: 350px;
  height: 600px;
  background: var(--Fondo);
  box-shadow: 4px 10px 12px -4px var(--Suave);
  border-radius: 32px;
  text-align: center;
  border: 1px solid var(--Suave);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.tarjeta-contenedor {
  width: 100%;
}

.img-computador {
  width: 100%;
  height: auto;
}

.texto-uno {
  font-size: 22px;
  color: var(--Oscuro);
}

.texto-dos {
  font-size: 16px;
  color: var(--Medio);
}

.evaluar {
  width: 100%;
  height: 500px;
  padding: 20px;
  font-size: 20px;
  color: var(--Medio);
  background: transparent;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
  border: none;
  resize: none;
}

.btn-copiar {
  width: 220px;
  height: 60px;
  margin: 20px auto;
  font-size: 18px;
  text-align: center;
  background: var(--Suave);
  border: 1px solid var(--Medio);
  border-radius: 20px;
  cursor: pointer;
  color: var(--Ligero);
  visibility: hidden;
}

footer {
  padding: 20px;
  border-top: 2px solid var(--Suave);
  color: var(--Medio);
  text-align: center;
  font-size: 18px;
}

.linked,
.github {
  width: 24px;
  height: 24px;
}

.linked:hover {
  opacity: 0.8;
}

.github:hover {
  opacity: 0.6;
}

/* Responsividad para pantallas de 1920 x 1080 px */
@media (min-width: 1920px) {
  main {
    padding: 80px 120px;
    gap: 60px;
  }

  .encriptador {
    width: 50%;
  }

  .encriptar {
    height: 400px;
    font-size: 28px;
    line-height: 42px;
  }

  .encriptador-aviso {
    margin-top: 20px;
  }

  .encriptador-contenedor {
    margin-top: 30px;
  }

  .btn-encriptar,
  .btn-desencriptar {
    width: 200px;
    height: 70px;
    font-size: 20px;
  }

  .tarjeta {
    width: 400px;
    height: 650px;
  }

  .tarjeta-contenedor {
    width: 100%;
    margin-top: 30%;
  }

  .texto-uno {
    font-size: 26px;
  }

  .texto-dos {
    font-size: 20px;
  }

  .evaluar {
    height: 550px;
    font-size: 24px;
  }

  .btn-copiar {
    width: 240px;
    height: 70px;
    font-size: 20px;
    margin: 30px auto;
  }

  footer {
    font-size: 20px;
  }
}

/* Responsividad para pantallas más pequeñas */
@media (max-width: 1250px) {
  main {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .encriptador {
    width: 80%;
    margin-top: 40px;
  }

  .encriptador-contenedor {
    gap: 16px;
  }

  .tarjeta {
    width: 80%;
    height: auto;
  }

  .tarjeta-contenedor {
    width: 100%;
    margin-top: 40%;
  }

  .btn-copiar {
    width: 100%;
  }

  .evaluar {
    height: 250px;
  }
}

@media (max-width: 720px) {
  header .logo {
    width: 100%;
  }

  .encriptar {
    width: 90%;
    font-size: 20px;
  }

  .encriptador-contenedor {
    gap: 16px;
  }

  .tarjeta {
    width: 90%;
  }

  .copyright {
    font-size: 16px;
  }
}
